name: CI
on: [push, pull_request]

jobs:
  run-tests:
    name: Run tests
    runs-on: macOS-latest
    if: contains(github.event.head_commit.message, '[ci skip]') == false
    env:
      BUNDLE_PATH: vendor/bundle
      POD_PATH: Pods
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-ruby@v1.1.2
        with:
          ruby-version: '2.6.x'

      # Cache
      - name: Cache ${{ env.BUNDLE_PATH }}
        uses: actions/cache@v2.1.1
        with:
          path: ${{ env.BUNDLE_PATH }}
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gems-
      - name: Cache ${{ env.POD_PATH }}
        uses: actions/cache@v2.1.1
        with:
          path: ${{ env.POD_PATH }}
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-

      # Dependencies
      - name: Bundle install
        run: |
          gem install bundler -v `tail -1 Gemfile.lock`
          bundle config path ${{ env.BUNDLE_PATH }}
          bundle install --jobs 4 --retry 3
      - name: Pod install
        run: |
          bundle exec pod install

      # Tests
      - run: |
          bundle exec fastlane ios unit_tests
      - run: |
          bundle exec fastlane tvos unit_tests
      - name: Report coverage
        run: |
          bash <(curl -s https://codecov.io/bash) -cF ios -J "QuickTableViewController"
      - run: |
          bundle exec fastlane ios ui_tests
      - run: |
          bundle exec fastlane tvos ui_tests
